[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ShikhaJadoun1997
[access "refs/for/refs/*"]
	read = group user/ShikhaJadoun1997
	push = group user/ShikhaJadoun1997
	label-Code-Review = -2..+2 group user/ShikhaJadoun1997
	label-Verified = -1..+1 group user/ShikhaJadoun1997
	rebase = group user/ShikhaJadoun1997
	removeReviewer = group user/ShikhaJadoun1997
	submit = group user/ShikhaJadoun1997
[access "refs/heads/*"]
	read = group user/ShikhaJadoun1997
	create = group user/ShikhaJadoun1997
	push = +force group user/ShikhaJadoun1997
	pushMerge = group user/ShikhaJadoun1997
[access "refs/tags/*"]
	push = group user/ShikhaJadoun1997
	push = +force group user/ShikhaJadoun1997
